<div id="page_wrapper">
    <div id="content">
        <h1>This is your cool admin Arun Vk , Welcome to my blogs post !! :) :D </h1>
        <p>This page has many awesome posts which are valuable than any other articles you could possibly find anywhere !</p>
    </div>
</div>